body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
div {
  text-align: center;
  margin: 20px;
}
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.search-filter {
  margin-bottom: 20px;
}
input {
  padding: 8px;
  margin-right: 10px;
}
select {
  padding: 8px;
}
.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}
.game-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
.game-card img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}
.game-card h3 {
  font-size: 16px;
  margin: 0;
}
