body {
  font-family: Arial, sans-serif;
  background-color: #8a2be2;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
}

#nameContainer {
  background-color: #dea325;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

#randomName {
  color: #333;
  margin: 0;
}

#generateButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}
